<div class="restaurants-fullpage">
  <h2>Restaurantes</h2>

  <div class="filters">
    <input
      class="search-bar"
      type="text"
      [formControl]="filtro"
      placeholder="Buscar por nombre o dirección"
    />
  </div>



  <div class="restaurant-grid">
    <div
      class="restaurant-card"
      *ngFor="let restaurant of filteredData"
      (click)="goToReservaForm(restaurant.id)"
    >
      <div class="logo-placeholder">
        {{ restaurant.nombre ? restaurant.nombre.charAt(0).toUpperCase() : '' }}
      </div>
      <div class="card-content">
        <h3>{{ restaurant.nombre }}</h3>
        <p>{{ restaurant.direccion }}</p>
        <span class="capacity">Capacidad: {{ restaurant.capacidad }}</span>
      </div>
    </div>
  </div>
</div>
